:root {
    --bgcolor:#191029;
    --bgcolor2:#100A1B;
    --white:#ffffff;
    --fwbold: 700;
    --fwextrabold: 800;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

body {
    font-family:  'Poppins', sans-serif;
    background-color: var(--bgcolor);
    color: white;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    margin-top: 10px;
    margin-right: 60px;
    --bs-navbar-padding-y: 0;
}
.arsy-navbar {
    padding: 10px 60px 10px 60px;
    border-bottom: 1px solid var(--white) ;
    border-radius: 33px;
}
.navbar-toggler {
    border: none;
    padding: 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}    
.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    gap: 73px;
} 
.navbar-nav .nav-link.active {
    border: 1px solid transparent; 
    padding: 10px 26px 10px 26px;
    border-radius: 22px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.07);
    color: white;             
}
.navbar-nav .nav-link {
    padding: 10px 26px 10px 26px;
    color: white;
    transition: all 0.3s ease-in-out; 
    font-family: 'Poppins';
    font-weight: var(--fwregular);            
}

.navbar-nav .nav-link:hover {
    border: 1px solid transparent; 
    padding: 10px 26px 10px 26px;
    border-radius: 22px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.07);
    color: white;
    transition: all 0.1s ease-in-out;             
}
.nav-item a{
    color: var(--white);
    font-family: 'Poppins';
    font-weight: var(--fwregular);
}
/* Header */

.bg-img {
    object-fit: cover;
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 100%;
    z-index: -1;
}
.header-img2 {
    left: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-40 {
    margin-top: 60px;
}
.mt-70 {
    margin-top: 240px;
}
.mt-60 {
    margin-top: 130px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-70 {
    margin-bottom: 240px;
}
.pr-40 {
    padding-left: 400px;
}
/* Animation Header */
.rotate {
    position: absolute;
}
.rotate2 {
    animation: rotation 8s infinite alternate;
    position: absolute;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.big-header {
    color: var(--white);
    font-family: 'Ubuntu';
    font-weight: var(--fwbold);
    font-size: 48px;
}
.smaller-text {
    font-family: 'Poppins';
    font-weight: var(--fwregular);
    text-align: center;
    font-size: 27px;
}
.header-content {
    padding-right: 100px;
}
.animation {
    padding-left: 100px;
    animation: floatImage 4s ease-in-out infinite;
}

/* About */
.about {
    height: 100vh;
}
.medium-header {
    color: var(--white);
    font-family: 'Ubuntu';
    font-weight: var(--fwbold);
    font-size: 48px;
}
.primary-copy {
    color: var(--white);
    font-family: 'Poppins';
    font-weight: var(--fwregular);
    font-size: 20px;
}
.about-content p{
    width: 460px;
}
.btn-primary {
    color: var(--white);
    background: transparent;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: var(--fwmedium);
    padding: 14px 66px 14px 66px;
    border-radius: 50px;
    border: 1px solid #ffffff;
}
.pt-70 {
    padding-top: 70px;
}
.pb-30 {
    padding-bottom: 30px;
}

.about-img2 {
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
/* Show Project */
section {
    min-height: 100vh;
    padding: 10rem 0% 2rem;
    overflow: hidden;
}
.show-project {
    margin-left: 60px;
    margin-right: 60px;
}
.project-item {
    margin-top: 89px;
}
.project-item img {
    padding-left: 60px;
    padding-right: 60px;
}
.look {
    margin-top: 90px;
}
.medium-header {
    font-family: 'Ubuntu';
    font-weight: var(--fwbold);
    font-size: 40px;
    text-align: center;
}
/* Footer */
.footer {
    background: var(--bgcolor2);
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text {
    color: var(--white);
    font-family: 'Poppins';
    font-weight: var(--fwregular);
    font-size: 16px;
}
.implora-brand {
    padding-bottom: 20px;
}